---
layout: default
---
<div class="post-container">
	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
            {% for tag in post.tags %}
            <small class="post-tag">
                <a href="{{ site.url }}/tags/#{{tag | cgi_escape}}">{{tag}}</a>
            </small>
            {% unless forloop.last %}{% endunless %}
            {% endfor %}
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
    {% endfor %}
</div>
{% include pagination.html %}
