---
layout: default
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<div class="w-100">
	<h1>Tags in Blog</h1>
	<div class="tags">
		{% for item in (0..site.tags.size) %}{% unless forloop.last %}
		{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
			<a href="{{ site.url }}/tags/#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a>
		{% endunless %}{% endfor %}
	</div>
</div>
<div class="post-container">
	{% for item in (0..site.tags.size) %}{% unless forloop.last %}
	{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
	<h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>

	{% for post in site.tags[this_word] %}{% if post.title != null %}
	    <div class="post-list">
            <a class="post-title" href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
	{% endif %}{% endfor %}
	{% endunless %}{% endfor %}
</div>
