{% if site.discus-identifier %}
	<section class="comment-area w-100">
		<div class="comment-wrapper">
			<div id="disqus_thread" class="article-comments"></div>
			<script>
			(function() {
			var d = document, s = d.createElement('script');
			s.src = '//{{ site.discus-identifier }}.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</section>
{% endif %}
