---
layout: default
---
{% if page.mathjax %}
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
<div class="post-header">
	<div class="post-date">{{ page.date | date: "%d.%m.%Y" }}</div>
	<div class="post-share">
		Share:&nbsp; 
		<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}/{{page.slug}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/facebook.svg" class="social-icon"></a>
		<a href="https://twitter.com/intent/tweet?source=tweetbutton&amp;original_referer={{site.url}}/{{page.slug}}&amp;text={{page.title}} - {{site.url}}/{{page.slug}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/twitter.svg" class="social-icon"></a>
		<a href="https://api.whatsapp.com/send?text={{site.url}}/{{page.slug}}" target="_blank"><img src="{{ site.url }}/assets/images/icon/whatsapp.svg" class="social-icon"></a>
	</div>
</div>

<div class="blog-post-content">
	<h1>{{page.title}}</h1>
	{{ content }}
</div>
<div class="tags-container">
	{% for tag in page.tags %}
		<a href="{{ site.url }}/tags/#{{tag | cgi_escape}}" class="post-tag">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
	{% endfor %}
</div>
<div class="navigation">
	{% if page.previous %}
		<a class="prev" href="{{ site.url }}/{{ page.previous | relative_url }}">< {{ page.previous.title }}</a>
	{% endif %} {% if page.next %}
	<a class="next" href="{{ site.url }}/{{ page.next | relative_url }}">{{ page.next.title }} ></a>
{% endif %}
</div>
{% include disqus.html %}
